.grid {
    display: grid;
    width: 100vw;
    height: 80vh;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 38vh 38vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}