<div class="status-card">
    <div class="status-card-header">
        <span class="header-title">{{status}}</span>
        <div [ngClass]="{
            'header-status-info-teletravail': status == 'En Télétravail chez soi',
            'header-status-info-cours': status == 'En cours à IMT Atlantique',
            'header-status-info-malade': status == 'Malade',
            'header-status-info-absent': status == 'Absent'
        }">
        <fa-icon [icon]="faLaptopHouse" *ngIf="status == 'En Télétravail chez soi'"></fa-icon>
        <fa-icon [icon]="faChalkboardTeacher" *ngIf="status == 'En cours à IMT Atlantique'"></fa-icon>
        <fa-icon [icon]="faVirus" *ngIf="status == 'Malade'"></fa-icon>
        <fa-icon [icon]="faGhost" *ngIf="status == 'Absent'"></fa-icon>
        </div>
    </div>
    <div class="status-card-content-list">
    <div class="student-item" *ngFor="let student of students" (click)="displayStudentInfo(student)">
            <div class="student-info">
                <span>{{student.name}}</span>
                <fa-icon [icon]="faChevronRight"></fa-icon>
            </div>
            <hr>
        </div>
    </div>
    <div class="status-card-content-info">
        <div class="status-card-content-info-header">
            <h2>{{studentInfos.name}}</h2>
            <fa-icon class="close-icon" [icon]="faTimes" (click)="displayStudentList()"></fa-icon>
        </div>
        <div class="status-card-content-info-content">
            <div class="info-item">
                <span>email: </span><p>{{studentInfos.email}}</p>
            </div>
            <hr>
            <div class="info-item">
                <span>phone: </span><p>{{studentInfos.phone}}</p>
            </div>
            <hr>
            <div class="info-item">
                <span>address: </span><p>{{studentInfos.address}}</p>
            </div>
        </div>
    </div>
</div>