@mixin header-status-info($status) {

    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    position: absolute;
    top: -1.3vw;
    right: -1.3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xx-large;
    color: azure;

    @if ($status == 'tt') {
        background-color: rgb(163, 25, 94);
    }
    @if ($status == 'imt') {
        background-color: rgb(9, 156, 41);
    }
    @if ($status == 'malade') {
        background-color: rgb(201, 76, 31);
    }
    @if ($status == 'abs') {
        background-color: rgb(59, 59, 201);
    }
}

.status-card {
    width: 20vw;
    height: 30vh;
    background-color: rgba(9, 22, 37, 1);
    margin: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 2%;

    .status-card-header {
        position: relative;
        width: 100%;
        text-align: center;
        padding: 2% 0%;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-color: azure;

        .header-title {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: azure;
        }

        .header-status-info-teletravail {
            @include header-status-info('tt');
        }

        .header-status-info-cours {
            @include header-status-info('imt');
        }

        .header-status-info-malade {
            @include header-status-info('malade');
        }

        .header-status-info-absent {
            @include header-status-info('abs');
        }
    }

    .status-card-content {
        width: 90%;
        height: 90%;
        display: flex;
        padding-top: 5%;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        overflow: hidden;
        overflow-y: scroll;

        .student-item {
            cursor: pointer;
            color: azure;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: 2%;

            .student-info {
                width: 100%;
                height: 20%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            hr {
                width: 100%;
                border-color: azure;
                border-width: 0.2px;
            }
        }
    }
}